runtime/
flight_bags/
planning/workspaces/
*.bag
*.pcd
*.log
*.pyc
*~
*.bak
*.bak_*

**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.cache/

**/.catkin_tools/
**/build/
**/devel/
**/logs/

.DS_Store
Thumbs.db
