<launch>
  <arg name="common_config" default="$(find sim2real_common)/config/controller.yaml"/>
  <arg name="planner_config"
       default="$(find sim2real_common)/config/controller_plugin_default.yaml"/>
  <arg name="vehicle_config"/>

  <node pkg="se3_controller" name="se3_controller_node" type="se3_controller_node" output="screen">
    <rosparam command="load" file="$(arg common_config)"/>
    <rosparam command="load" file="$(arg planner_config)"/>
    <rosparam command="load" file="$(arg vehicle_config)"/>
  </node>
</launch>
