<launch>
  <arg name="drone_id" default="0"/>
  <arg name="odom_topic" default="/localization/odom"/>
  <arg name="cloud_topic" default="/localization/cloud_registered"/>
  <arg name="planner_config" default="$(find sim2real_common)/config/planner.yaml"/>
  <arg name="trajectory_server_config" default="$(find sim2real_common)/config/trajectory_server.yaml"/>

  <node pkg="diff_planner" name="drone_$(arg drone_id)_diff_planner_node" type="diff_planner_node" output="screen">
    <remap from="~odom_world" to="$(arg odom_topic)"/>
    <remap from="~mandatory_stop" to="/mandatory_stop_to_planner"/>
    <remap from="~planning/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
    <remap from="~planning/data_display" to="/drone_$(arg drone_id)_planning/data_display"/>
    <remap from="~planning/broadcast_traj_send" to="/broadcast_traj_from_planner"/>
    <remap from="~planning/broadcast_traj_recv" to="/bridge/broadcast_traj_from_planner"/>
    <remap from="~planning/heartbeat" to="/drone_$(arg drone_id)_traj_server/heartbeat"/>
    <remap from="~grid_map/odom" to="$(arg odom_topic)"/>
    <remap from="~grid_map/cloud" to="$(arg cloud_topic)"/>
    <remap from="~grid_map/pose" to="/localization/unused_camera_pose"/>
    <remap from="~grid_map/depth" to="/localization/unused_depth"/>
    <rosparam command="load" file="$(arg planner_config)"/>
    <param name="manager/drone_id" value="$(arg drone_id)" type="int"/>
  </node>

  <node pkg="diff_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
    <remap from="position_cmd" to="/drone_$(arg drone_id)_planning/pos_cmd"/>
    <remap from="~planning/trajectory" to="/drone_$(arg drone_id)_planning/trajectory"/>
    <remap from="~planning/yaw" to="/drone_$(arg drone_id)_planning/yaw"/>
    <remap from="~heartbeat" to="/drone_$(arg drone_id)_traj_server/heartbeat"/>
    <rosparam command="load" file="$(arg trajectory_server_config)"/>
  </node>
</launch>
